<nav
  class="navbar navbar-expand-lg fixed-top "
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> NBA• </span> Notice Board App
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> NBA• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menu
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/home']">
              <i class="tim-icons icon-zoom-split"> </i> Home
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/search']">
              <i class="tim-icons icon-zoom-split"> </i> Search Services
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/message']">
              <i class="tim-icons icon-email-85"> </i> Make a Post
            </a>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i> Register Page
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/profile']">
              <i class="tim-icons icon-single-02"> </i> Profile Page
            </a>

            <a *ngIf="!loggedIn" class="dropdown-item" [routerLink]="['/login']">
              <i class="tim-icons icon-single-02"> </i> Login
            </a>

            <a href="#" *ngIf="loggedIn" class="dropdown-item" (click)="logout($event)">
              <i class="tim-icons icon-single-02"> </i> Logout
            </a>

          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="wrapper">
  <div class="page-header">

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">{{form.first_name}} {{form.surname}}</h1>
          <h5 class="text-on-back">{{form.id}}</h5>
          <p class="profile-description">
            {{form.about_me}}
          </p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href="#"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href="#"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-dribbble btn-round"
              href="#"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">

              <img
                class="img-center img-fluid rounded-circle"
                src="{{form.photo_url}}"
              />

              <form class="form" #PhotoForm=ngForm  (ngSubmit)="onPhotoSubmit()"  enctype="multipart/form-data">

                <input type="file" #Image class="form-control" id="inputImage" name="streamfile"
                     multiple (change)="handleFileInput($event.target.files)"  placeholder="image">

                <button
                  class="btn btn-simple btn-danger btn-icon btn-round float-right"
                  type="submit"
                >
                  <i class="tim-icons icon-send"> </i>
                </button>
              </form>

              <h4 class="title">Profile</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Details">
                  <blockquote class="blockquote">
                    <div class="">
                      <div class="row">
                        <div class="col">
                          <span>First Name</span>
                        </div>
                        <div class="col">
                          <code>{{form.first_name}}</code>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <span>Surname</span>
                        </div>
                        <div class="col">
                          <code>{{form.surname}}</code>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <span>Phone</span>
                        </div>
                        <div class="col">
                          <code>{{form.phone_no}}</code>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <span>Gender</span>
                        </div>
                        <div class="col">
                          <code>{{form.gender}}</code>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <span>Address</span>
                        </div>
                        <div class="col">
                          <code>{{form.address}}</code>
                        </div>
                      </div>
                    </div>
                  </blockquote>
                </tab>
                <tab heading="Skills">
                  <blockquote class="blockquote">
                    <div class="col-sm-4 badge badge-primary" *ngFor="let userService of userServices.results">
                      {{userService.service}}
                      <!--<span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>&nbsp;
                      <span class="tim-icons icon-single-copy-04"></span>-->
                    </div>&nbsp;
                  </blockquote>
                  <blockquote class="blockquote"><fieldset>Add Skill</fieldset>
                    <form class="form" #UpdateForm=ngForm  (ngSubmit)="onServiceSubmit()">
                      <div class="row">
                        <div class="col-sm-9">
                          <div class="form-group">

                            <input
                              class="form-control"
                              name="service"
                              placeholder="javascript"
                              type="text"
                              value="{{service_form.service}}"
                              (focus)="focus2 = true"
                              (blur)="focus2 = false"
                              [(ngModel)]="service_form.service" required
                            />

                            <span class="form-text">
                              Please enter key words only exampe : Java.
                            </span>
                          </div>
                        </div>
                      </div>

                      <button
                        class="btn btn-simple btn-danger btn-icon btn-round float-right"
                        type="submit"
                      >
                        <i class="tim-icons icon-send"> </i>
                      </button>
                    </form>
                  </blockquote>
                </tab>
                <tab heading="Update">
                  <div class="">
                    <form class="form" #UpdateForm=ngForm  (ngSubmit)="onSubmit()">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input
                            class="form-control"
                            name="email"
                            placeholder="Email"
                            type="text"
                            value="{{form.email}}"
                            (focus)="focus2 = true"
                            (blur)="focus2 = false"
                            [(ngModel)]="form.email" required
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Surname</label>
                          <input
                            class="form-control"
                            name="surname"
                            placeholder="Surname"
                            type="text"
                            value="{{form.surname}}"
                            (focus)="focus2 = true"
                            (blur)="focus2 = false"
                            [(ngModel)]="form.surname" required
                          />
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">First Name</label>
                            <input
                              class="form-control"
                              name="first_name"
                              placeholder="First Name"
                              type="text"
                              value="{{form.first_name}}"
                              (focus)="focus2 = true"
                              (blur)="focus2 = false"
                              [(ngModel)]="form.first_name" required
                            />
                        </div>

                        <div class="form-group col-md-6">
                          <label for="inputState">Gender</label>
                          <select  name="gender" [(ngModel)]="form.gender" class="form-control" required>
                            <option selected>Choose...</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                            <option value="NONE">None</option>
                          </select>
                        </div>

                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputAddress">Address</label>
                          <input
                            class="form-control"
                            name="address"
                            placeholder="Address"
                            type="text"
                            value="{{form.address}}"
                            (focus)="focus2 = true"
                            (blur)="focus2 = false"
                            [(ngModel)]="form.address" required
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPhone">Phone</label>
                          <input
                            class="form-control"
                            name="phone_no"
                            placeholder="+491000000"
                            type="text"
                            value="{{form.phone_no}}"
                            (focus)="focus2 = true"
                            (blur)="focus2 = false"
                            [(ngModel)]="form.phone_no" required
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">About Me</label>
                        <textarea class="form-control"
                        name="about_me"
                        [(ngModel)]="form.about_me"
                        rows="1">{{form.about_me}}</textarea>
                      </div>

                      <button
                        class="btn btn-simple btn-danger btn-icon btn-round float-right"
                        type="submit"
                      >
                      <i class="tim-icons icon-send"> Update</i>
                    </button>

                    </form>

                  </div>
                </tab>

                <tab heading="Subscribe">
                  <div class="">
                    <form class="form" #PayForm=ngForm  (ngSubmit)="onPaySubmit()">
                    <div class="row">
                      <label class="col-sm-3 col-form-label"> Pay to </label>
                      <div class="col-sm-9">
                        <div class="form-group">

                          <input
                          class="form-control"
                          name="user_id"
                          placeholder=""
                          type="hidden"
                          value="{{pay_form.user_id}}"
                          (focus)="focus2 = true"
                          (blur)="focus2 = false"
                          [(ngModel)]="pay_form.user_id" required
                        />


                        </div>
                      </div>
                    </div>

                      <button
                        class="btn btn-simple btn-danger btn-icon btn-round float-right"
                        type="submit"
                      >
                        <i class="tim-icons icon-send"> </i>
                      </button>
                    </form>
                      <br><br>
                  </div>
                </tab>
              </tabset>
            </div>

          </div> <br><br>
        </div>
      </div>

    </div>
  </div>

  <br><br>
  <br><br>
  <br><br>
  <footer class="footer">
    <div class="container">

    </div>
  </footer>
</div>
