<nav
  class="navbar navbar-expand-lg fixed-top "
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Notice Board App"
      >
        <span> NBA• </span> Notice Board App
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> NBA• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">

        <li class="nav-item p-0">
          <a
          [routerLink]="['/requests']"
            class="nav-link"
            placement="bottom"
            tooltip="New Requests"
          >
            <span class="badge badge-primary" *ngIf="newRequests.results">
              {{newRequests.results.length}}
            </span>
            <i class="tim-icons icon-email-85"></i>
            <p class="d-lg-none d-xl-none">Requests</p>
          </a>

          <a
          [routerLink]="['/messagelog']"
            class="nav-link"
            placement="bottom"
            tooltip="message log"
          >
            <span class="badge badge-primary" *ngIf="newRequests.results">
              {{newRequests.results.length}}
            </span>
            <i class="tim-icons icon-chat-33"> </i>
            <p class="d-lg-none d-xl-none">Requests</p>
          </a>


        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menu
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/home']">
              <i class="tim-icons icon-zoom-split"> </i> Home
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/search']">
              <i class="tim-icons icon-zoom-split"> </i> Search Services
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/message']">
              <i class="tim-icons icon-email-85"> </i> Make a Post
            </a>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i> Register Page
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/profile']">
              <i class="tim-icons icon-single-02"> </i> Profile Page
            </a>

            <a *ngIf="!loggedIn" class="dropdown-item" [routerLink]="['/login']">
              <i class="tim-icons icon-single-02"> </i> Login
            </a>

            <a href="#" *ngIf="loggedIn" class="dropdown-item" (click)="logout($event)">
              <i class="tim-icons icon-single-02"> </i> Logout
            </a>

          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
