<app-navpage></app-navpage>

<div class="wrapper">
  <div class="page-header">

    <div class="content-center">

      <div class="card rare-wind-gradient chat-room">
        <div id="spread"></div>
        <div class="card-body">

          <!-- Grid row -->
          <div class="row px-lg-2 px-2">

            <!-- Grid column -->
            <div class="col-md-6 col-xl-4 px-0">



              <div class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue">
                <ul class="list-unstyled friend-list">

                  <li class="active grey lighten-3 p-2">
                    <div class="container1" *ngFor="let newRequest of newRequests" >
                      <a id="btn-area"  (click)="openForm(newRequest.id,newRequest.accept_message,newRequest.request_message)">
                          <div class="text-small">
                            <p class="last-message">
                              {{newRequest.request_message}}
                            </p>
                          </div>
                      </a>
                    </div>
                  </li>

                </ul>
              </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

              <div class="chat-message">

                <ul class="list-unstyled chat-1 scrollbar-light-blue">
                  <li class="d-flex justify-content-between mb-4">
                    <a class="d-flex justify-content-between">
                      <div class="chat-body white p-3 ml-2 z-depth-1">
                        <p class="mb-0" id="name_msg">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua.
                        </p>
                      </div>
                    </a>
                  </li>

                </ul>

                <div class="white">
                  <div class="form-group basic-textarea">
                    <form #AcceptForm=ngForm class="form-container" (ngSubmit)="onSubmit()">

                      <input
                        class="form-control"
                        name="id"
                        placeholder="Name"
                        type="hidden"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                        [(ngModel)]="accept_form.id"
                      />

                      <textarea
                        class="form-control pl-2 my-0"
                        id="exampleFormControlTextarea2"
                        rows="3"
                        placeholder="Type message.."
                        name="accept_message" required
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                        [(ngModel)]="accept_form.accept_message"
                      ></textarea>

                      <button type="submit" class="btn btn-outline-pink btn-rounded btn-sm waves-effect waves-dark float-right">Send</button>
                    </form>

                  </div>
                </div>


              </div>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
      </div>



    </div>


  </div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">BLK•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
