<app-navpage></app-navpage>


<div class="wrapper">

  <div class="page-header">



    <div class="content">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 d-flex justify-content-center h-100">
          <form search #searchForm=ngForm>
            <div class="searchbar">
              <!--<input class="search_input" type="text" name="" placeholder="Search..."> -->
              <input
                class="search_input"
                name="search"
                placeholder="search..."
                type="text"
                value="{{form.search}}"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
                [(ngModel)]="form.search" required
                (keyup)="searchTerm.next($event)"
              />
              <button href="#" class="search_icon"><i class="fas fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 offset-sm-2" >
          <button id="btn-area" *ngIf="searchResults" (click)="openForm()">
            <div class="container1"
              *ngFor="let result of paginationElements |
              paginate: { itemsPerPage: 5, currentPage: page }"
              (click)="openForm2(result.id,result.service_id,result.service,result.first_name)"
            >
              <img src="{{baseUrl+result.photo_url}}" alt="Avatar" width="35" height="55">
              <span style="color: aliceblue;">{{result.service}}</span>
              <p>{{result.about_me}}</p>
              <span class="time-right" id="star">
                <span id="star1" (onload)=" star(result.rating)" class="fa fa-star checked" ></span>
                <span id="star2" class="fa fa-star checked"></span>
                <span id="star3" class="fa fa-star checked"></span>
                <span id="star4" class="fa fa-star"></span>
                <span id="star5" class="fa fa-star"></span>
              </span>

            </div>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </button>
          <div *ngIf="errorMessage" class="errorMessage">
            <h2>Error</h2>
            <p class="error">{{errorMessage}}</p>
          </div>
        </div>
      </div>

      <button class="open-button" (click)="openForm()">Chat</button>
      <div class="chat-popup" id="myForm">
        <form   #RequestForm=ngForm class="form-container" (ngSubmit)="onSubmit()">
          <h1 class="msg">Send Request</h1>
          <input
            class="form-control"
            name="service_id"
            placeholder="Name"
            type="hidden"
            (focus)="focus1 = true"
            (blur)="focus1 = false"
            [(ngModel)]="request_form.service_id"
          />
          <input
            class="form-control"
            name="accepting_user_id"
            placeholder="Name"
            type="hidden"
            (focus)="focus1 = true"
            (blur)="focus1 = false"
            [(ngModel)]="request_form.accepting_user_id"
          />
          <label for="msg" class="msg"><b>Request for </b>
              <span id="name_msg"></span>
          </label>
          <textarea
            placeholder="Type message.."
            name="request_message" required
            (focus)="focus1 = true"
            (blur)="focus1 = false"
            [(ngModel)]="request_form.request_message"
          ></textarea>

          <button type="submit" class="btn">Send</button>
          <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
        </form>
      </div>

    </div>




  </div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">BLK•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="#"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="#"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="#"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
