<nav
  class="navbar navbar-expand-lg fixed-top "
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Notice Board App"
      >
        <span> NBA• </span> Notice Board App
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> NBA• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menu
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/home']">
              <i class="tim-icons icon-zoom-split"> </i> Home
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/search']">
              <i class="tim-icons icon-zoom-split"> </i> Search Services
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/message']">
              <i class="tim-icons icon-email-85"> </i> Make a Post
            </a>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i> Register Page
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/profile']">
              <i class="tim-icons icon-single-02"> </i> Profile Page
            </a>

            <a *ngIf="!loggedIn" class="dropdown-item" [routerLink]="['/login']">
              <i class="tim-icons icon-single-02"> </i> Login
            </a>


          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />

                <h4 class="card-title">Login</h4>
              </div>
              <div class="card-body">
                <form class="form" #SignupForm=ngForm  (ngSubmit)="onSubmit()">

                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      name="email"
                      placeholder="Email"
                      type="text"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      [(ngModel)]="form.email"
                    />
                    <p class="text-danger" [hidden]="!error.email">{{ error.email }}</p>
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      name="password"
                      placeholder="Password"
                      type="password"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                      [(ngModel)]="form.password" required
                    />
                    <p class="text-danger" [hidden]="!error.password">{{error.password}}</p>
                  </div>

                  <div class="card-footer">
                    <button type="submit"
                      class="btn btn-danger btn-round btn-lg"
                      href="javascript:void(0)"
                    >
                      Sign in
                    </button>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-3" id="square3"></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">

    </div>
  </footer>
</div>
