<nav
  class="navbar navbar-expand-lg fixed-top "
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Designed and Coded by Creative Tim"
      >
        <span> NBA• </span> Notice Board App
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> NBA• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="#"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menu
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/home']">
              <i class="tim-icons icon-zoom-split"> </i> Home
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/search']">
              <i class="tim-icons icon-zoom-split"> </i> Search Services
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/message']">
              <i class="tim-icons icon-email-85"> </i> Make a Post
            </a>

            <a class="dropdown-item"  *ngIf="!loggedIn"  [routerLink]="['/register']">
              <i class="tim-icons icon-bullet-list-67"> </i> Register Page
            </a>

            <a class="dropdown-item"  *ngIf="loggedIn"  [routerLink]="['/profile']">
              <i class="tim-icons icon-single-02"> </i> Profile Page
            </a>

            <a *ngIf="!loggedIn" class="dropdown-item" [routerLink]="['/login']">
              <i class="tim-icons icon-single-02"> </i> Login
            </a>


          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
<br><br><br>

  <div class="main">


    <div class="section section-nucleo-icons">

      <div class="container">

        <div class="blur-hover">
          <a
            href="#"
            class="text-danger"
          >
            <div class="icons-container blur-item on-screen mt-5">
              <i class="icon tim-icons icon-coins"> </i>
              <i class="icon icon-sm tim-icons icon-spaceship"> </i>
              <i class="icon icon-sm tim-icons icon-money-coins"> </i>
              <i class="icon icon-sm tim-icons icon-link-72"> </i>
              <i class="icon tim-icons icon-send"> </i>
              <i class="icon tim-icons icon-mobile"> </i>
              <i class="icon tim-icons icon-wifi"> </i>
              <i class="icon icon-sm tim-icons icon-key-25"> </i>
              <i class="icon icon-sm tim-icons icon-atom"> </i>
              <i class="icon icon-sm tim-icons icon-satisfied"> </i>
              <i class="icon tim-icons icon-gift-2"> </i>
              <i class="icon tim-icons icon-tap-02"> </i>
              <i class="icon tim-icons icon-wallet-43"> </i>
            </div>
            <span class="blur-hidden h5 text-danger">
              We connect you !
            </span>
          </a>
        </div>
      </div>
    </div>

    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade"
      #myModal="bs-modal"
      id="myModal"
      role="dialog"
      tabindex="-1"
    >

    </div>

    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-mini modal-danger modal-mini"
      #myModal1="bs-modal"
      id="myModal1"
      role="dialog"
      tabindex="-1"
    >

    </div>
    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-black"
      #myModal2="bs-modal"
      id="myModal2"
      role="dialog"
      tabindex="-1"
    >

    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">NBA•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="#"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="#"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="#"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
