<app-navpage></app-navpage>

<div class="wrapper">


  <div class="container">


    <div class="card rare-wind-gradient chat-room">
      <div id="spread"></div>
      <div class="card-body">

        <!-- Grid row -->
        <div class="row px-lg-2 px-2">

          <!-- Grid column -->
          <div class="col-md-6 col-xl-4 px-0">
            <div>
            <form #PostForm=ngForm  (ngSubmit)="onSubmitPost()">
              <button type="submit"
                  class="btn btn-outline-pink btn-rounded btn-sm waves-effect waves-dark float-right">post</button>

              <input
                class="form-control"
                name="user_id"
                placeholder="Name"
                type="hidden"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
                [(ngModel)]="post_form.user_id"
              />

              <textarea
                class="form-control  my-0 py-1"
                id="exampleFormControlTextarea2"
                rows="3"
                placeholder="Make a post..."
                name="post" required
                (focus)="focus1 = true"
                (blur)="focus1 = false"
                [(ngModel)]="post_form.post"
              ></textarea>

            </form>
            </div>



            <div class="white z-depth-1 px-1 pt-1 pb-0 members-panel-1 scrollbar-light-blue">
              <ul class="list-unstyled friend-list">

                <li class="active grey lighten-3 p-2"  *ngFor="let post of posts">
                  <a id="btn-area" class="d-flex justify-content-between" (click)="getComments(post.id)">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div class="text-small">

                      <strong>{{post.first_name}} {{post.surname}} </strong>
                      <p class="last-message ">{{post.post}}</p>
                    </div>
                    <div class="chat-footer">
                      <!--<p class="text-smaller text-muted mb-0">Just now</p>-->
                    </div>
                  </a>
                </li>

              </ul>
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

            <div class="chat-message">

              <ul class="list-unstyled chat-1 scrollbar-light-blue">

                <li class="d-flex justify-content-between mb-4" *ngFor="let comment of comments">
                  <a  class="d-flex justify-content-between">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                    <div class="chat-body white p-3 ml-2 z-depth-1">
                      <div class="header">
                        <strong class="primary-font">Brad Pitt</strong>
                        <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
                      </div>
                      <hr class="w-100">
                      <p class="mb-0">
                        {{comment.comment}}
                      </p>
                    </div>
                  </a>
                </li>


              </ul>

              <div class="white">
                <div class="form-group basic-textarea">
                  <form #CommentForm=ngForm class="form-container" (ngSubmit)="onSubmit()">

                    <input
                      class="form-control"
                      name="post_id"
                      placeholder="Name"
                      type="hidden"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      [(ngModel)]="comment_form.post_id"
                    />

                    <input
                      class="form-control"
                      name="user_id"
                      placeholder="Name"
                      type="hidden"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      [(ngModel)]="comment_form.user_id"
                    />

                    <textarea
                      class="form-control pl-2 my-0"
                      id="exampleFormControlTextarea2"
                      rows="3"
                      placeholder="Type a comment.."
                      name="comment" required
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      [(ngModel)]="comment_form.comment"
                    ></textarea>

                    <button type="submit" class="btn btn-outline-pink btn-rounded btn-sm waves-effect waves-dark float-right">comment</button>
                  </form>

                </div>
              </div>

            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
    </div>



  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><h1 class="title">BLK•</h1></div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://twitter.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.facebook.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://dribbble.com/creativetim"
              target="_blank"
            >
              <i class="fab fa-dribbble"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
