.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll;
  background: #171941;
}

.card.chat-room .members-panel-1 {
  height: 570px;
}

.card.chat-room .chat-1 {
  height: 495px;
  border: 1px solid #505385;
}

.card.chat-room .friend-list li {
  border: 1px solid #505385;
}

.card.chat-room .friend-list li:last-of-type {
  border-bottom: none;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
  border-radius: 10px;
}

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background: #171941;
}


#spread {
  height: 50px;
  border: 1px solid #e66fcc;
  margin-top: 55px;
}

.card {
  border: 1px solid #e75dc9;
  min-height: 200px;
}

#btn-area {
  cursor: pointer;
  background-color: #484b91;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

form {
  border: 1px solid #e75dc9;
}
