#spread{
  height: 50px;
  background:#e44cc4;
  border: 1px solid #e66fcc;
}

.card{
  border: 2px solid #e75dc9;
  min-height: 200px;

}

#btn-area{
  cursor: pointer;
}

.container1 {
  border: 1px solid #dbdbdb;
  margin: 10px 0;
  text-align: left;
  color: rgb(255, 255, 255);
}
